{% extends 'layout_admin.html.twig' %}

{% block title %}Treeb'z | Modifier le compte de
    {{ user_detail.firstname }}
    {{ user_detail.lastname }}
{% endblock %}

{% block body %}
    <main class="container">
        <div class="text-center mt-5">
            <h1 class="text-uppercase">Modifier le compte de
                <span class="text-secondary fw-bold">{{ user_detail.firstname }}
                    {{ user_detail.lastname }}</span>
            </h1>
        </div>
        {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}
        <div class="text-center">
            <a class="btn btn-primary mt-5 px-5" href="{{ path('admin_user_index') }}">Retourner</a>
        </div>
    </div>
</main>{% endblock %}
