{% extends 'layout.html.twig' %}

{% block title %}Treeb'Z | Accueil{% endblock %}
{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    {% block header %}
        <div class="home-header mx-0">
            <img class="waves" src="{{ asset('build/images/waves.svg') }}" alt="yellow-waves"/>
            <div class="header-text">
                <div class="title">
                    <h1 class="start-title mb-0 mb-xl-5">Treeb<span class="end-title">'Z</span></h1>
                </div>
                <p class="sub-title mt-0">Le jeu de ma famille</br>100% personnalisable !</p>
            </div>
        </div>
    {% endblock %}
        <div class="jumbotron jumbotron-fluid first-title d-flex align-items-center justify-content-center mx-0">
            <div class="container-fluid title-game-creation col-8 offset-2">
                <h2 class="display-4 text-center py-5">
                COMMENT CRÉER</br>LE JEU DE MA FAMILLE ?
                </h2>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-md-5 col-12 d-flex align-items-start justify-content-center">
                <div class="">
                    <img class="card-image rounded" src="{{ asset('build/images/cards.png') }}" alt="Jeu des sept familles"/>
                </div>
            </div>
            <div class="col-md-7 col-12 d-flex align-items-md-center align-items-start justify-content-center mx-0">
                <div class="mt-5 mt-md-0">
                    <div class="row mb-4 d-flex justify-content-center">
                        <div class="number col-3"><span class="text">1</span></div>
                        <div class="col-9 d-flex align-items-center"><p class="creation-text m-0">Choisissez le nom du jeu de votre famille qui sera inscrit au dos.</p></div>
                    </div>
                    <div class="row mb-4 d-flex justify-content-center">
                        <div class="number col-3"><span class="text">2</span></div>
                        <div class="col-9 d-flex align-items-center"><p class="creation-text m-0">Choisissez les photos de membres de votre famille.</p></div>
                    </div>
                    <div class="row mb-4 d-flex justify-content-center">
                        <div class="number col-3"><span class="text">3</span></div>
                        <div class="col-9 d-flex align-items-center"><p class="creation-text m-0">Choisissez familles dans lesquelles vous souhaitez les faire jouer.</p></div>
                    </div>
                    <div class="row mb-4 d-flex justify-content-center">
                        <div class="number col-3"><span class="text">4</span></div>
                        <div class="col-9 d-flex align-items-center"><p class="creation-text m-0">Prévisualisez vos cartes avec les familles et validez votre commande.</p></div>
                    </div>
                    <div class="row mb-4 d-flex justify-content-center">
                        <div class="number col-3"><span class="text">5</span></div>
                        <div class="col-9 d-flex align-items-center"><p class="creation-text m-0">Après le paiement via Paypal, nous fabriquons vos jeux de famille et
                        nous livrons vos articles dans un délai de 6 à 20 jours ouvrés (moyenne nationale).</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 justify-content-center mx-auto">
            <a href="{{ path('gamecreation_index') }}" class="btn create-button mb-6 w-100 p-3" type="button">CRÉER LE JEU DE MA FAMILLE</a>
        </div>
        <div class="jumbotron jumbotron-fluid second-title d-flex align-items-center mx-0">
          <div class="container-fluid title-commitment col-8 offset-2">
            <h2 class="display-4 text-center py-5">
              LES RÈGLES DU JEU
            </h2>
          </div>
        </div>
        <div class="row justify-content-around mx-0">
            <div class="box col-md-3 offset-md-1 col-8 offset-2">
                <img class="orange-card" src="{{ asset('build/images/orangecards.svg') }}" alt="Icône cartes à jouer"/>
                <h2 class="game-rule">Règles de ma famille</h2>
                <p class="rule-text">Jouez au jeu des 7 familles avec de nouvelles règles innovantes ! Partagez un souvenir de la famille réunie et laissez planer le doute sur la véracité de cette anecdote.</p>
            </div>
            <div class="box col-md-3 offset-md-1 col-8 offset-2">
                <img class="orange-card" src="{{ asset('build/images/orangecards.svg') }}" alt="Icône cartes à jouer"/>
                <h2 class="game-rule">Règles classiques</h2>
                <p class="rule-text">Jouez avec les règles classiques du jeu de 7 familles ! Le gagnant est le joueur ayant réuni le plus de famille.</p>
            </div>
            <div class="box col-md-3 offset-md-1 col-8 offset-2">
                <img class="orange-card" src="{{ asset('build/images/orangecards.svg') }}" alt="Icône cartes à jouer"/>
                <h2 class="game-rule">Mémory'Z</h2>
                <p class="rule-text">Faites travailler votre mémoire avec Mémory'Z, retournez les cartes face cachées, retournez deux cartes et remportez des points si elles sont de la même famille ou s'ils s'agit du même membre !</p>
            </div>
        </div>
        <div class="d-grid gap-2 col-md-6 col-10 offset-1 justify-content-center mx-auto">
            <a href="/lesreglesdujeu" class="btn create-button mb-6 w-100 p-3" type="button">VOIR LES RÈGLES</a>
        </div>
        <div class="jumbotron jumbotron-fluid third-title d-flex align-items-center mx-0">
          <div class="container-fluid title-commitment col-8 offset-2">
            <h2 class="display-4 text-center py-5">
              NOS ENGAGEMENTS
            </h2>
          </div>
        </div>
        <div class="commitment container-fluid mx-0">
            <div class="container-fluid row">
                <div class="col-md-4 col-12 text-center">
                    <img class="icon" src="{{ asset('build/images/french-flag.webp') }}" alt="Drapeau Français"/>
                    <p class="commitment-text">Un jeu pensé et</br>fabriqué en</br>France</p>
                </div>
                <div class="col-md-4 col-12 text-center">
                    <img class="icon" src="{{ asset('build/images/recycling-symbol.webp') }}" alt="Symbole de recyclage"/>
                    <p class="commitment-text">Des matériaux</br>de qualité</br>supérieure et</br>100% recyclés</p>
                </div>
                <div class="col-md-4 col-12 text-center">
                    <img class="icon" src="{{ asset('build/images/tree.webp') }}" alt="Arbre"/>
                    <p class="commitment-text">Une démarche</br>respectueuse</br>de l'environnement.</br>Nos emballages sont 100%</br>éco-responsable.</p>
                </div>
            </div>
        </div>
{% endblock %}
