{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('preview') }}
{% endblock %}

{% block title %}
    Treeb'Z | Créer votre jeu

{% endblock %}

{% block body %}
    <header>
        <div class="jumbotron jumbotron-fluid mainTitle ">
            <div>
                <h1 class="display-4 text-center py-5">
                    Créez votre jeu de famille
                </h1>
            </div>
        </div>
    </header>
    <section class="mb-5 mx-0">
        <div>
            <div class="containerStep">
                <ul class="progressbar">
                    <li class="p-1 active">Choisissez le nom du jeu</li>
                    <li class="p-1">Téléchargez vos photos</li>
                    <li class="p-1">Choisissez vos thèmes</li>
                    <li class="p-1">Confirmez votre commande</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="titleDeco">
        <div class="text-left offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-1 col-10">
            <h2 class="display-6 text-center py-5 text-uppercase" id="reglesFamille">
                Ajuster votre photo
            </h2>
            <div>
                <div class="all mb-5">
                    <div class="full-card d-flex justify-content-center mt-5">
                        <div class="column">
                            <div class="all">
                                <img class="theme" src="{{ asset('build/images/LaFamilleEcolo.png') }}" alt="card"/>
                                <div class="member-photo d-flex justify-content-center">
                                    <img class="photo" src="{{ temporaryFilename }}" alt="image prévisualisée"/>
                                </div>
                                <div class="member-name d-flex justify-content-center">
                                    <p>{{ member.name }}</p>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="card-number">
                                        <span class="number">1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {{ form_start(form) }}
                {{ form_row(form.crop) }}
                <div class="my-4">
                    {{ form_row(form.validate) }}
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-primary" href="{{ path('member_crop_valid', {'command': command.id, 'member': member.id}) }}">Valider la photo</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
