{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gamecreation') }}
{% endblock %}

{% block title %}
    Treeb'Z | Créer votre jeu

{% endblock %}

{% block body %}
    <header>
        <div class="jumbotron jumbotron-fluid mainTitle ">
            <div>
                <h1 class="display-4 text-center py-5">
                    Créer votre jeu de famille
                </h1>
            </div>
        </div>
    </header>
    <section class="mb-5 row mx-0">
        <div>
            <div class="containerStep">
                <ul class="progressbar">
                    <li class="p-1 active">Choisir le nom du jeu</li>
                    <li class="p-1">Télécharger vos photos</li>
                    <li class="p-1">Choisir vos familles</li>
                    <li class="p-1">Confirmer votre commande</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="ajout-membre">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col col-sm col-md-9 mt-5 p-4 viewThemes">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h2 class="ms-md-5 text-center fw-bold">AJOUTER DES MEMBRES À VOTRE JEU
                            </h2>
                        </div>

                        <div class="ms-5">
                            {% if statusOrdered %}
                                <a href="{{ path('member_new', {'command': command.id}) }}" class="btn btn-primary text-uppercase fw-bold">Ajouter un membre
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="container">
                        <div class="card-deck d-flex justify-content-around flex-wrap">
                            {% for member in members %}
                                <div class="card card-member m-2 p-2 d-flex flex-column justify-content-between mt-5">
                                    <div>
                                        <p class="fw-bold text-center bg-gray display-6">{{ member.cardNumber }}</p>
                                        <p class="card-title text-center mb-2">{{ member.name }}</p>
                                    </div>
                                    <img src="{{ vich_uploader_asset(member) }}" alt="{{ member.picture }}"/>
                                    <div>
                                        {% if statusOrdered %}
                                            <a href="{{ path('member_edit', {'id': member.id}) }}" class="btn btn-secondary fw-bold mt-2 w-100 text-uppercase">Modifier</a>
                                            <form method="post" action="{{ path('member_delete', {'id': member.id}) }}" onsubmit="return confirm(' Êtes vous sur de vouloir supprimer ce membre ?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
                                                <button class="btn btn-danger btn-sm mt-2 fw-bold w-100 text-uppercase buttonFont">Supprimer</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <h3 class="p-5">Pas encore de membre enregistré
                                </h3>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col col-sm col-md-3 mt-5 p-4 chosenThemes d-flex flex-column justify-content-between">
                    <div>
                        <h2 class="text-uppercase text-center fw-bold">Membres Créés</h2>
                        <p class="m-3 text-center fw-bold">Prix du Jeu :
                            <span class="text-light h3 fw-bold">{{ priceGame }}
                                €</span>
                        </p>
                        <ul class="list-group text-center text-capitalize">
                            {% for member in members %}
                                <li class="list-group-item m-2 fw-bold d-flex flex-row justify-content-between">
                                    {{ member.cardNumber }}-{{ member.name }}
                                    {% if statusOrdered %}
                                        <div class="d-flex flex-row">
                                            {% if not loop.last %}
                                                <form method="post" action="{{ path('member_change_cardnumber', {'command': command.id, 'member': member.id, 'deplacement': 'up'}) }}"><button class="btn bg-secondary m-1" type='submit'><span class="iconify" data-icon="akar-icons:arrow-down" data-inline="false"></span></bouton></form>
                                            {% endif %}
                                            {% if not loop.first %}
                                                <form method="post" action="{{ path('member_change_cardnumber', {'command': command.id, 'member': member.id, 'deplacement': 'down'}) }}"><button class="btn bg-secondary m-1" type='submit'><span class="iconify" data-icon="akar-icons:arrow-up" data-inline="false"></span></bouton></form>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="my-5 text-end">
                    {% if statusOrdered %}
                        {% if command.members is not empty %}
                            <form action="{{ path('gamecreation_choose_theme', {'id': command.id}) }}">
                                <button type='submit' class="btn btn-primary text-uppercase fw-bold fw-bold fs-5 w-100">Choisir vos familles
                                    <img src="{{ asset('build/images/arrow-right.svg') }}" class="ms-5 d-none d-lg-inline-block"></button>
                            </form>
                        {% endif %}
                            <div class="text-center">
                                <a class="btn btn-light text-uppercase fw-bold fw-bold mt-5 fs-5 w-100" href="{{ path('gamecreation_editGame', {'id': command.id}) }}">
                                    <span class="me-5 d-none d-lg-inline-block">{% include "component/_left_arrow.html.twig" %}</span>
                                    Modifier le nom du jeu</a>
                            </div>
                        {% else %}
                            <a class="btn btn-primary text-uppercase fw-bold fw-bold fs-5 w-100" href="{{ path('gamecreation_preview', {'id': command.id}) }}">
                                    <span class="me-5 d-none d-lg-inline-block"><img src="{{ asset('build/images/arrow-right.svg') }}" class="ms-5 d-none d-lg-inline-block"></span>
                                    RÉCAPITULATIF</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
