{% extends 'layout_admin.html.twig' %}

{% block body %}
    <div class="container">
        {% for theme in themes %}
            <div class="card" style="width: 18rem;">
                <img src="../uploads/{{ theme.image }}" class="card-img-top" alt="{{ theme.image }}">
                <div class="card-body">
                    <h1 class="card-title">{{ theme.name }}</h1>
                    <p class="card-text">{{ theme.colorText }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <a href="{{ path('theme_show', {'id': theme.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('theme_edit', {'id': theme.id}) }}" class="btn btn-primary">edit</a>
                </div>
            </div>
        {% else %}
            <h2>Aucun theme</h2>
        {% endfor %}
        <a href="{{ path('theme_new') }}">Create new</a>{% endblock %}
    </div>
{% endblock %}
