{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('gamecreation') }}
{% endblock %}

{% block title %}
	Treeb'Z | Créer votre jeu
{% endblock %}
{% block body %}
	<header>
		<div class="jumbotron jumbotron-fluid mainTitle ">
			<div>
				<h1 class="display-4 text-center py-5">
					Créez votre jeu de famille
				</h1>
			</div>
		</div>
	</header>
	{% if lastCommand is not empty %}
		<div class="alert alert-warning" role="alert">
			<div class="d-flex justify-content-center mt-2">
				<strong>
					<p>Retourner à votre dernière
						<a class="text-secondary text-decoration-none" href="{{ path('member_index', {'command': lastCommand.id}) }}">
							commande en cours</a>.</p>
				</strong>
			</div>
		</div>
	{% endif %}
	<section class="mb-5 row mx-0">
		<div>
			<div class="containerStep">
				<ul class="progressbar">
					<li class="p-1">Choisissez le nom du jeu</li>
					<li class="p-1">Téléchargez vos photos</li>
					<li class="p-1">Choisissez vos thèmes</li>
					<li class="p-1">Confirmez votre commande</li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row mt-5">

				<div class="d-none d-md-inline-block col-md-6 d-flex justify-content-center cardImage">
					<img class="mt-5 rounded" src="{{ asset('build/images/cards.png') }}" alt="Jeu des sept familles"/>
				</div>

				<div class="col mt-5">
					<h2 class="text-uppercase text-center">Choisissez un nombre de membre de votre famille :</h2>

					<div class="text-center mb-3 mt-5 ">
						<span class="fw-bold ps-3 mt-5 grayTitle">Jusqu’à
							{{ constant('App\\Service\\GameCard::GAME_MIN') }}
							membres</span>
						<span class="fw-bold ms-3 price">{{ constant('App\\Service\\GameCard::PRICE_MIN') }}
							€</span>
					</div>

					<div class="text-center mb-3 mt-5">
						<span class="fw-bold ps-3 grayTitle">De
							{{ constant('App\\Service\\GameCard::GAME_MIN') + 1 }}
							à
							{{ constant('App\\Service\\GameCard::GAME_MAX') }}
							membres</span>
						<span class="fw-bold ms-3 price">{{ constant('App\\Service\\GameCard::PRICE_MAX') }}
							€</span>
					</div>

					<div class="mt-5">
						<h2 class="text-uppercase text-center mb-5">Choisissez un nom pour votre jeu de famille :</h2>
					</div>

					{{ form_start(form) }}

					{% if form_errors(form.projectName) is not empty %}

						<div class="alert alert-danger">
							<span class="fw-bold">Attention:</span>
							{{ form_errors(form.projectName, {'attr': {'role': 'alert'}}) }}
						</div>

					{% endif %}

					<div class="mb-5">

						{{ form_label(form.projectName) }}
						{{ form_widget(form.projectName, {'attr': {'class': 'form-control form-label p-3'}}) }}

					</div>

					<div class="my-5 text-end">
						<button type='submit' class="btn create-button p-3 fw-bold w-100">Personnalisez votre jeu
							<img src="{{ asset('build/images/arrow-right.svg') }}" class="ms-5 d-none d-lg-inline-block"></button>
					</div>

					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
