{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gamecreation') }}
{% endblock %}

{% block title %}
    Treeb'Z | Créer votre jeu
{% endblock %}
{% block body %}
    <header>
        <div class="jumbotron jumbotron-fluid mainTitle ">
            <div>
                <h1 class="display-4 text-center py-5">
                    Créez votre jeu de famille
                </h1>
            </div>
        </div>
    </header>
    <section class="mb-5 row">
        <div>
            <div class="containerStep">
                <ul class="progressbar">
                    <li class="active p-1">Choisissez le nom du jeu</li>
                    <li class="p-1">Personnalisez votre jeu</li>
                    <li class="p-1">Validez votre commande</li>
                    <li class="p-1">Le jeu sera livré bientôt</li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row mt-5">

                <div class="d-none d-md-inline-block col-md-6 d-flex justify-content-center cardImage">
                    <img class="mt-5" src="{{ asset('build/images/cards.svg') }}" alt="Jeu des sept familles"/>
                </div>

                <div class="col mt-5">
                    <h2 class="text-uppercase text-center">Choisissez un nombre de membre de votre famille :</h2>

                    <div class="text-center mb-3 mt-5 ">
                        <span class="fw-bold ps-3 mt-5 grayTitle">Jusqu’à 10 membres</span>
                        <span class="fw-bold ms-3 price">19.99 €</span>
                    </div>

                    <div class="text-center mb-3 mt-5">
                        <span class="fw-bold ps-3 grayTitle">De 11 à 20 membres</span>
                        <span class="fw-bold ms-3 price">24.99 €</span>
                    </div>

                    <div class="mt-5">
                        <h2 class="text-uppercase text-center mb-5">Choisissez un nom pour votre jeu de famille :</h2>
                    </div>

                    {{ form_start(form) }}

                    {% if form_errors(form.projectName) is not empty %}

                        <div class="alert alert-danger">
                            <span class="fw-bold">Attention:</span>
                            {{ form_errors(form.projectName, {'attr': {'role': 'alert'}}) }}
                        </div>

                    {% endif %}

                    <div class="mb-5">

                        {{ form_label(form.projectName) }}
                        {{ form_widget(form.projectName, {'attr': {'class': 'form-control form-label p-3'}}) }}

                    </div>

                    <div class="my-5 text-end">
                        <button type='submit' class="text-uppercase create-button p-3 fw-bold fs-5 w-100">Personnalisez votre jeu
                            <img src="{{ asset('build/images/arrow-right.svg') }}" class="ms-5 d-none d-lg-inline-block"></button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
