{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('preview') }}
{% endblock %}

{% block title %}
    Treeb'Z | Créer votre jeu
{% endblock %}

{% block body %}
    <header>
        <div class="jumbotron jumbotron-fluid mainTitle mx-0">
            <div>
                <h1 class="display-4 text-center py-5">
                    Créez votre jeu de famille
                </h1>
            </div>
        </div>
    </header>
    <section class="mb-5 row mx-0">
        <div>
            <div class="containerStep">
                <ul class="progressbar">
                    <li class="p-1 active">Choisissez le nom du jeu</li>
                    <li class="p-1 active">Téléchargez vos photos</li>
                    <li class="p-1 active">Choisissez vos thèmes</li>
                    <li class="p-1">Confirmez votre commande</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col col-sm col-md-8 mt-5 p-4 viewThemes">
                    <div class="row d-flex justify-content-center">
                        <h2 class="text-uppercase text-center fw-bold">
                            Prévisualisez votre commande
                        </h2>
                        {% include 'component/_card_preview.html.twig' %}
                    </div>
                </div>
                <div class="col col-md-4 mt-md-5 p-4 chosenThemes d-flex flex-column">
                    <div class="mb-5">
                        <div class="row d-flex justify-content-center">
                            <h2 class="text-uppercase fw-bold">
                                Rappel
                            </h2>
                            <h4> Rappel des prix du jeu de 7 thèmes: </h4>
                            <ul>
                                <li>{{ constant('App\\Service\\GameCard::PRICE_MIN') }}€ pour {{ constant('App\\Service\\GameCard::GAME_MIN') }} membres ou moins</li>
                                <li>{{ constant('App\\Service\\GameCard::PRICE_MAX') }}€ pour {{ constant('App\\Service\\GameCard::GAME_MIN') + 1 }} à {{ constant('App\\Service\\GameCard::GAME_MAX') }} membres</li>
                            </ul>
                            <h4> Pour tous thèmes en plus des 7 thèmes : {{ constant('App\\Service\\GameCard::PRICE_ADD_THEME') }}€ par thème</h4>
                            <h2 class="text-uppercase fw-bold">
                                Récapitulatif
                            </h2>
                            <h4>{{ command.members|length }} membres de la famille : </h4>
                            <ul>
                                {% for member in command.members %}
                                <li>{#{{ member.cardNumber }}#}. {{ member.name }}</li>
                                {% endfor %}
                            </ul>
                            <h4>{{ command.selectedThemes|length }} thèmes séléctionnés : </h4>
                            <ul>
                                {% for theme in command.selectedThemes %}
                                <li>{{ loop.index }}. {{ theme.name }}</li>
                                {% endfor %}
                            </ul>
                            <h3 class="text-end fw-bold"> TOTAL : {{ priceGame }}€</h3>
                        </div>
                        <div class="justify-content-end">
                            <a href="{{ path('gamecreation_thanks') }}" class="btn btn-primary text-uppercase fw-bold fw-bold fs-5 w-100 mt-5">Payer la commande
                                <img src="{{ asset('build/images/arrow-right.svg') }}" class="ms-5 d-none d-lg-inline-block">
                            </a>

                            <div class="text-center">
                                <a class="btn btn-light text-uppercase fw-bold fw-bold mt-5 fs-5 w-100" href="{{ path('gamecreation_choose_theme', {'id': command.id}) }}">
                                    <span class="me-5 d-none d-lg-inline-block">{% include "component/_left_arrow.html.twig" %}</span>
                                    Modifier mes thèmes
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
