{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gamecreation') }}
{% endblock %}

{% block title %}
    Treeb'Z | Créer votre jeu
{% endblock %}

{% block body %}
    <header>
        <div class="jumbotron jumbotron-fluid mainTitle">
            <div>
                <h1 class="display-4 text-center py-5">
                    Créez votre jeu de famille
                </h1>
            </div>
        </div>
    </header>
    <section class="mb-5 row mx-0">
        <div>
            <div class="containerStep">
                <ul class="progressbar">
                    <li class="p-1 active">Choisissez le nom du jeu</li>
                    <li class="p-1 active">Téléchargez vos photos</li>
                    <li class="p-1">Choisissez vos thèmes</li>
                    <li class="p-1">Confirmez votre commande</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row mt-5">

                <div class="col col-sm col-md-9 mt-5 p-4 viewThemes">
                    <div class="d-flex justify-content-between">
                        <h2 class="ms-md-5 text-uppercase text-center fw-bold">
                            Choisissez vos thèmes
                        </h2>

                        {{ form_start(form) }}
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary text-uppercase fw-bold" value="Valider les thèmes sélectionnés">
                        </div>
                    </div>
                    {% if form_errors(form.selectedThemes) is not empty %}
                        <div class="alert alert-danger">
                            <span class="fw-bold">Attention:</span>
                            {{ form_errors(form.selectedThemes, {'attr': {'role': 'alert'}}) }}
                        </div>
                    {% endif %}

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 g-4 px-lg-5">
                        {% for selecttheme in form.selectedThemes %}
                            {% set index = selecttheme.vars.value %}
                            {% set entity = form.selectedThemes.vars.choices[index].data %}
                            <div class="col">
                                <div class="card bgElement m-3 border-0 rounded text-center">
                                    <img src="{{ asset('/uploads/' ~ entity.image) }}" alt="Treebz Card">
                                    <div class="containerCheck h4 m-3">
                                        {{ form_label(selecttheme) }}
                                        {{ form_widget(selecttheme, {'attr': {'class': 'checkbox'}}) }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>Aucun thème disponible.</p>
                        {% endfor %}
                    </div>
                </div>
                {{ form_end(form) }}
                <div class="col col-md-3 mt-md-5 p-4 chosenThemes d-flex flex-column">

                    <h2 class="text-uppercase text-center mb-4 fw-bold">
                        Thèmes sélectionnés
                    </h2>
                    <div class="mb-5">

                        <ul class="list-group text-center">
                            {% for theme in command.selectedThemes %}
                                <li class="list-group-item m-2 fw-bold text-uppercase">{{ theme.name }}</li>
                            {% endfor %}
                            <div class="justify-content-end">
                                <a href="{{ path('gamecreation_preview', {'id': command.id}) }}" class="btn btn-primary text-uppercase fw-bold fw-bold fs-5 w-100 mt-5">Prévisualiser la commande
                                    <img src="{{ asset('build/images/arrow-right.svg') }}" class="ms-5 d-none d-lg-inline-block">
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div></section>{% endblock %}
