{% extends 'layout.html.twig' %}

{% form_theme form with ['form_table_layout.html.twig'] only %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('gamecreation') }}
{% endblock %}

{% block title %}
    Treeb'Z | Créer votre jeu
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

{% endblock %}

{% block body %}
    <header>
        <div class="jumbotron jumbotron-fluid mainTitle">
            <div>
                <h1 class="display-4 text-center py-5">
                    Créer votre jeu de famille
                </h1>
            </div>
        </div>
    </header>
    <section class="mb-5 row mx-0">
        <div>
            <div class="containerStep">
                <ul class="progressbar">
                    <li class="p-1 active">Choisir le nom du jeu</li>
                    <li class="p-1 active">Télécharger vos photos</li>
                    <li class="p-1">Choisir vos familles</li>
                    <li class="p-1">Confirmer votre commande</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row mt-5">

                <div class="col col-sm col-md-9 mt-5 p-4 viewThemes">
                    <div class="d-flex justify-content-between">
                        <h2 class="ms-md-5 text-uppercase text-center fw-bold d-block">
                            Choisir vos familles
                        </h2>
                        {{ form_start(form) }}
                        <p class="fw-bold text-primary">Cliquez sur les thèmes souhaités pour votre jeu:</p>
                    </div>
                    {% if form_errors(form.selectedThemes) is not empty %}
                        <div class="alert alert-danger">
                            <span class="fw-bold">Attention:</span>
                            {{ form_errors(form.selectedThemes, {'attr': {'role': 'alert'}}) }}
                        </div>
                    {% endif %}

                    <div class="themeSelection row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 px-lg-5">
                        {% for selecttheme in form.selectedThemes %}
                            {% set index = selecttheme.vars.value %}
                            {% set entity = form.selectedThemes.vars.choices[index].data %}
                            <div class="col themeSelection">
                                <div class="card bgElement m-3 border-0 rounded text-center">
                                    <div class="themeSelection containerCheck h4 m-3">
                                        {{ form_widget(selecttheme, {'label': false, 'attr': {'class': 'd-none'}}) }}
                                        <label for="{{ selecttheme.vars.id }}">
                                            <img class="w-100" src="{{ asset('/uploads/themes/' ~ entity.image) }}" alt="Treebz Card"><br>
                                            {{ selecttheme.vars.label }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>Aucune famille disponible.</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col col-md-3 mt-md-5 p-4 chosenThemes d-flex flex-column">
                    <div class="text-center">
                        <button class="btn btn-primary text-uppercase fw-bold mt-5 fs-5">Valider et prévisualiser la commande</button>
                    </div>
                </a>
                <div class="text-center">
                    <a class="btn btn-light text-uppercase fw-bold fw-bold mt-5 fs-5 w-100" href="{{ path('member_index', {'command': command.id}) }}">
                        <span class="me-5 d-none d-lg-inline-block">{% include "component/_left_arrow.html.twig" %}</span>
                        Modifier mes membres
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </ul>
    </div>
</div></div></div></div></section>{% endblock %}
