{% extends 'layout_admin.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('gamecreation') }}
	{{ encore_entry_link_tags('command') }}
{% endblock %}

{% block body %}
	<header>
		<div class="jumbotron jumbotron-fluid mainTitle ">
			<div>
				<h1 class="display-4 text-center py-5">
					Commandes
				</h1>
			</div>
		</div>
	</header>
	<main class="container mt-5">
		<div class="d-flex justify-content-md-end">
			<div class="vw-75 mb-5">
				{{ form_start(form) }}
				<div class="form-group fg--search">
					{{ form_row(form.search, {'attr': {'class': 'form-control me-2 bg-secondary'}}) }}
					<button class="fa fa-search" type="submit">
						{{ include('/component/_magnifying_glass.html.twig') }}
					</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
		{% for command in commands %}
			<div class="accordion" id="accordionPanelsStayOpenExample">
				<div class="accordion-item">
					<h2 class="accordion-header h2" id="panelsStayOpen-heading-{{ command.id }}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ command.id }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse-{{ command.id }}">
							<div class="status-order bg-{{ command.status.color }} me-3"></div>
							<p class="text-uppercase fw-bold m-0">COMMANDE N°
								<span class="text-capitalize fw-bold">{{ command.id }}
								</span>
								<span class="d-none d-lg-inline text-lowercase fw-light">⠀{{ command.user.email }}</span>
							</p>
						</span>
					</p>
				</h2>
			</button>
		</h2>
		<div id="panelsStayOpen-collapse-{{ command.id }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-{{ command.id }}">
			<div class="accordion-body">
				<div class="row">
					<div class="col col-md-4">
						<div class="my-3">
							<span class="fw-bold text-uppercase">nom du jeux :⠀</span>exp
							<span>{{ command.projectName }}</span>
						</div>
						<div>
							<span class="fw-bold text-uppercase">date de commande :⠀</span>
							<span>{{ command.createdAt|date('d/m/Y') }}</span>
						</div>
						<div class="my-3">
							<span class="fw-bold text-uppercase">nom du client :⠀</span>
							<span>{{ command.contactInformation.firstname }}
								{{ command.contactInformation.lastname }}</span>
						</div>
						<div class="my-3">
							<span class="fw-bold text-uppercase">status de la commande :⠀</span>
							<span>{{ command.status.name }}</span>
						</div>
					</div>
					<div class="col col-md-4">
						<div class="my-1">
							<span class="fw-bold text-uppercase">adresse de livraison :⠀</span>
							<span>{{ command.contactInformation.address }}</br>
							{{ command.contactInformation.postalCode }}⠀{{ command.contactInformation.town }}</br>
						{{ command.contactInformation.country }}</span>
				</div>
				<div class="my-1">
					<span class="fw-bold text-uppercase">adresse de facturation :⠀</span>
					<span>{{ command.contactInformation.address }}</br>
					{{ command.contactInformation.postalCode }}⠀{{ command.contactInformation.town }}</br>
				{{ command.contactInformation.country }}</span>
		</div>
	</div>
	<div class="col col-md-4 mt-3 py-3 py-md-1">
		<div class="d-flex justify-content-center">
			<strong>MODIFIER LE STATUT</strong>
		</div>
		<form method="post" action="{{ path('command_change_status', {'id': command.id}) }}">
			<div class="mt-3">
				<div class="d-flex justify-content-start">
					<select class="status form-select" aria-label="Default select example" name="status" id="status">
						{% for one_status in status %}
							{% if command.status.name == one_status.name %}
								<option value="{{ one_status.id }}" selected>{{ one_status.name }}</option>
							{% else %}
								<option value="{{ one_status.id }}">{{ one_status.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<div class="ml-3">
						<input type="hidden" name="_token" value="{{ csrf_token('change_status' ~ command.id) }}">
						<button class="btn btn-secondary ms-2">Modifier</button>
					</div>
				</div>
			</div>
			<section class="print-button">
				<div class="mt-3 d-flex justify-content-center">
					<a href="{{ path('pdf', {'id': command.id}) }}" class="btn btn-primary">Impression cartes</a>
				</div>
				<div class="mt-3 d-flex justify-content-center">
					<a href="{{ path('backPdf', {'id': command.id}) }}" class="btn btn-primary">Impression dos de carte</a>
				</div>
			</section>
		</form>
	</div>
</div></div></div></div>{% else %}<h2>Aucune commande</h2>{% endfor %}</div>{% endblock %}
