<div class="full-card d-flex justify-content-center mt-5">
    {% for theme in command.selectedThemes %}
        <div class="column">
            {% for member in command.members %}
                <div class="all">
                    <img class="theme" src="{{ asset('/uploads/themes/' ~ theme.image) }}" alt="card"/>
                    <div class="member-photo d-flex justify-content-center">
                        <img class="photo" src="{{ vich_uploader_asset(member) }}" alt="{{ member.picture }}"/>
                    </div>
                    <div style="color:{{ theme.colorText }}" class="member-name d-flex justify-content-center">
                        <p>{{ member.name }}</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="card-number">
                            <span style="border-color:{{ theme.colorText }}; color:{{ theme.colorText }}" class="number">{{ loop.index }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
