<section class="section-navbar">
    <nav class="navbar navbar-expand-md navbar-light bg-primary h5 mb-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('admin_home') }}"><img class="img-logo" src="{{ asset('build/images/logoTreebz.webp') }}" alt="logo Treebz"/>
                <span class="text-light fw-bold h4">ADMIN</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item m-1 m-lg-3">
                        <a class="nav-link active" href="{{ path('theme_index') }}">FAMILLES</a>
                    </li>
                    <li class="nav-item m-1 m-lg-3">
                        <a class="nav-link active" href="{{ path('admin_user_index') }}">CLIENTS</a>
                    </li>
                    <li class="nav-item m-1 m-lg-3">
                        <a class="nav-link active" href="{{ path('command_index') }}">COMMANDES</a>
                    </li>

                    <li class="nav-item m-1 m-lg-3">
                        <a class="nav-link active text-light fw-bold text-uppercase" href="{{ path('home') }}">ACCUEIL</a>
                    </li>
                </ul>
            </div>
            <div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.email }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-md-end" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
    </nav>
</section>
