<section class="section-navbar">
    <nav class="navbar navbar-expand-md navbar-light bg-primary h5 mb-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="img-logo" src="{{ asset('build/images/logoTreebz.webp') }}" alt="logo Treebz"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item m-1">
                        <a class="nav-link active" href="/">ACCUEIL</a>
                    </li>
                    <li class="nav-item m-1">
                        <a class="nav-link active" href="{{ path('gamecreation_index') }}">CRÉEZ UN JEU</a>
                    </li>
                    <li class="nav-item m-1">
                        <a class="nav-link active" href="/contact">CONTACT</a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item m-1">
                            <a class="nav-link active text-light" href="{{ path('admin_home') }}">ADMINISTRATION</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex align-items-center">
                    {% if app.user %}
                        Salut
                        {{ app.user.userDetail.firstname }}
                        !
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mon compte
                            </a>
                            <ul class="dropdown-menu dropdown-menu-md-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('user_detail_edit') }}">Mon compte</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Création en cours</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('command_history') }}">Historique des commandes</a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="me-auto mb-2 mb-lg-0 d-flex justify-content-around">
                            <a class="nav-item m-1 btn btn-secondary text-uppercase" href="{{ path('app_register') }}">Inscription</a>
                            <a class="nav-item m-1 btn btn-light text-uppercase" href="{{ path('app_login') }}">Connexion</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </nav>
    </section>
