<div class="treebz-card">
    <img class="theme" src="{{ asset('/uploads/themes/' ~ theme.image) }}" alt="card"/>
    <img class="member-photo" src="{{ vich_uploader_asset(member) }}" alt="{{ member.picture }}"/>
    <div class="member-name" style="color:{{ theme.colorText }}">
        {{ member.name }}
    </div>
    <span class="card-number" style="border-color:{{ theme.colorText }}; color:{{ theme.colorText }}">{{ member.cardNumber }}</span>
</div>
