<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/treebz.png') }}"/>
		<title>
			{% block title %}Treeb'Z{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block navbar %}{% endblock %}
		{% for category, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ category }} text-center">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		{% block body %}
        {% block preview %}{% endblock %}
        {% endblock %}
		<footer>
		{% block footer %}{% endblock %}
		</footer>
	</body>
</html>
