<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/treebz.png') }}"/>
        <title>
            {% block title %}Treeb'Z | Prévisualisation
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('card') }}
        {% endblock %}
    </head>
    <body>
        <div class="full-card d-flex justify-content-center">
            {% for theme in command.selectedThemes %}
            <div class="column">
            {% for member in command.members %}
            <div class="all">
                <img class="theme" src="{{ asset('/uploads/' ~ theme.image) }}" alt="card"/>
                <div class="member-photo d-flex justify-content-center">
                    <img class="photo" src="{{ vich_uploader_asset(member) }}" alt="{{ member.picture }}"/>
                </div>
                <div class="member-name d-flex justify-content-center">
                    <p>{{ member.name }}</p>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card-number">
                        <span class="number">{{ loop.index }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>
